body{
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(16, 16, 156);
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 20%;
    text-align: center;
}
img{
    height: 275px;
    width: 275px;
    display: block;
    margin: 0px auto;
}
